.achievements-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}
.achievements-container .achievements-box{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    height: 350px;
    width: 220px;
    border-radius: 2rem;
    border: 3px solid var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.achievements-container .achievements-box:hover{
    transform: scale(1.02);
    background-color: white;
    color: black;
}
.achievements-box i{
    font-size: 7rem;
    color: var(--main-color);
    margin-bottom: 1rem;
}
.achievements-box h3{
    font-size: 2.6rem;
}
.achievements-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    font-weight: 500;
}
.achievements-box .btn{
    background-color: transparent;
}
.achievements-box .btn:hover{
    color: var(--main-color);
    background-color: black;
}
@media(max-width:1000px){
    .achievements{
        padding-bottom: 7rem;
    }
}
@media(max-width:995px){
    .achievements-box{
        margin: 0 5rem;
    }
    .achievements h2{
        margin-bottom: 3rem;
    }
}
