.contact{
    background-color: var(--bg-color);
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact h2{
    margin-bottom: 2rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem left;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}
.contact form.btn{
    margin-top: 2rem;
}
.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.contact p{
    color: white;
    opacity: 0.8;
    font-size: 2rem;
    font-weight: 600;
    line-height: 22px;
}
.contact p a{
    color: white;
}
.contact p i{
    font-size: 3rem;
    color: var(--main-color);
    margin: 10px;
    gap: 2rem;
}