section{
  min-height: 100vh;
  padding: 10rem 9% 10rem;
}
.home{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}
.heading{
  text-align: center;
  font-size: 6rem;
}
.about{
  background-color: var(--second-bg-color);
}
.skills{
  background-color: var(--bg-color);
}
.achievements{
  background-color: var(--second-bg-color);
}
.achievements h2{
  margin-bottom: 8rem;
}

/* scrollbar */
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}
::-webkit-scrollbar-track{
  background-color: var(--bg-color);
  width: 10px;
}
/* education */
.timeline-section{
  background-color: var(--bg-color);
  padding: 100px 15px;
}
.timeline-section h2{
  margin-bottom: 5rem;
}
/* projects */
.projects{
  background-color: var(--second-bg-color);
}
.projects h2{
  margin-bottom: 8rem;
}

.contact{
  background-color: var(--bg-color);
}